<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS with CSS Example</title>
</head>
<body>
<h1>Welcome <%= client_name %>!</h1>
<p>You have been selected to be a
    <% if (role === 'tag_admin') { %>
        Tag Admin Warrior
    <% } else if (role === 'life_guard') { %>
        Life Guard Commander
    <% } %>
    EvON Medics, we aim to defeat devastating neurological diseases by engineering state-of-the-art medical devices equipped with extraordinary healthcare technologies.</p>
<h4> Username - <i><%= username %></i> </h4>
<h4> Password - <i><%= password %></i> </h4>
</body>
</html>
